<!DOCTYPE html>
<html lang="en">
    <head>
        <%= javascript_pack_tag 'application' %>
        <title>Twitter</title>
    </head>
    <body>
        <%= react_component("HelloWorld", { greeting: "Hello" }) %>
    </body>
</html>